body {
    font-family: sans-serif;
    background-color: lightgray;
}
h2 {
    clear: both;
    margin-bottom: 0.5em;
    padding-top: 1em;
}
ul {
    list-style-type: none;
}
ul.l1 li {
    float: left;
    width: 10em;
    border: 5px dashed mediumslateblue;
    margin-right: 1em;
    padding: 0.5em 0em;
    background-color: lightgreen;
    color: mediumslateblue;
    font-weight: bold;
    text-align: center;
}
ul.l2 {
    text-align: center;
}
ul.l2 li {
    display: inline;
    border: white 2px solid;
    border-color: white black black white;
    margin: 0em 0.5em;
    padding: 0.25em 0.5em;
    background-color: white;
}
ul.l2 li:hover {
    border: white 2px solid;
    border-color: black white white black;
    background-color: lightgray;
}
ul.l3 {
    width: 11em;
    border: black 1px solid;
    padding: 0.5em;
    text-align: center;
}
ul.l3 li {
    width: 9em;
    border: black 1px solid;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0.5em;
    background-color: white;
    text-align: center;
}  
ul.l4 {
    text-align: center;
}  
ul.l4 li {
    display: inline-block;
    width: 10em;
    margin: 0;
    padding: 0.5em 0;
    background-color: white;
    color: cornflowerblue;
    font-weight: bold;
}
ul.l4 li.par {
    background-color: cornflowerblue;
    color: white;
}